body {
    background-color: bisque;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*css classes*/
.bold {
    font-weight: bold;
    font-style: italic;
}

.redcolor {
    color:red;
}

.contact {
    font-style:oblique;
    color:red;
    font-weight:bold;
}

.phone {
    font-style:initial;
    color:teal
}

.emails {
    font-style: italic;
    color:blue;
}

.underline {
    text-decoration:underline;
}